# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ZAlgorithm/nbproject/private/
/ZAlgorithm/build/
/ZAlgorithm/dist/
/Homework2/Smith-Waterman/nbproject/private/
/Homework2/Smith-Waterman/build/
/Homework2/Smith-Waterman/dist/
/Homework5/Homework5/nbproject/private/
/Homework5/Homework5/build/
/Homework5/Homework5/dist/